<div id="edit_user" class="modal" style="display: none;">
    <div class="modal__body modal_small">
        <div class="modal__body__header">
            <h3>Редактировать данные пользователя</h3>
        </div>
        <div class="modal__body__content">

        </div>
    </div>
    <div class="modal__lock"></div>
</div>

<div id="delete_user" class="modal" style="display: none;">
    <div class="modal__body modal_small">
        <div class="modal__body__header">
            <h3>Удалить пользователя</h3>
        </div>
        <div class="modal__body__content">

        </div>
    </div>
    <div class="modal__lock"></div>
</div>

<div id="add_user" class="modal" style="display: none;">
    <div class="modal__body modal_small">
        <div class="modal__body__header">
            <h3>Добавить пользователя</h3>
        </div>
        <div class="modal__body__content">

        </div>
    </div>
    <div class="modal__lock"></div>
</div>

{# Добавить блок #}
<div id="add_block" class="modal" style="display: none;">
    <div class="modal__body modal_small">
        <div class="modal__body__header">
            <h3>Добавить блок</h3>
        </div>
        <div class="modal__body__content">

        </div>
    </div>
    <div class="modal__lock"></div>
</div>