<div class="row">
    <div class="col-12 col-md-6 m-auto">
        <form class="form mt-20" data-form="form_forgot" data-valid="js" data-action="forgot_password" validator>
            <div class="form__header">Восстановление пароля:</div>
            <div class="form__body">

                <div class="form-group">
                    <label for="login_email">Email адрес:</label>
                    <input name="email" data-type="email" type="email" class="form-control" id="login_email"
                           aria-describedby="emailHelp" placeholder="Введите email" autocomplete="off" required>
                    <small data-error-element="email" class="form-text text-muted" style="display: none;">Текст ошибки
                    </small>
                </div>

                <div data-context="errors">

                </div>

                <button type="submit" class="btn btn-info">Восстановить пароль</button>
            </div>
            <div class="form__loader" style="display: none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>
